
<div class ="repliesbox">

                <n class='postername'>
                <%= link_to comment.user.name, user_path(comment.user)%></n>
                <n class ="plaintext"><%= comment.created_at.strftime("%B %e %Y %l:%M %p ")%> No.<%= link_to comment.id, (post_path(comment.post)+"#" + comment.id.to_s) %></n>
                
  
                <div class='commented'>
				<div id='textpos'>
                                  

                <p class ="row1"><%= filter_comment(comment) %></p>

                <% if current_user == comment.user or can? :manage, :all   %>
                <%= link_to ' ', [comment.post, comment], :class=>'comdel', :confirm => 'Are you sure?',:method => :delete %>
                <% end %>

                </div>
		

</div>
  </div>
<br>