
<div id="comment">
 <% if can? :manage, :all   %>

                <b> <%= link_to 'Like', { :action => :vote_up, :id => comment.id, :controller => "comments" }, :method=>:post%>: <%= comment.points_up  %> / <%= link_to 'Dislike', { :action => :vote_down, :id => comment.id, :controller => "comments" }, :method=>:post%>: <%= comment.points_down %> </b>
                <% end %>
                <!--<br> Relative Value: <%= comment.relative_value %>-->
                <div class='commented'>
				<div id='textpos'>
                <br>
                <%= comment.content %>
                <br>
				<div id='timify'>
                <%= comment.created_at.strftime("%B %e %l:%M %p %Y")%> (<%=distance_of_time_in_words(comment.created_at, Time.now)%> ago)
				</div>
                <br>
				<div class='smallify'>
				<br><br>Author: <i> <a class="blue"><%#= link_to comment.user.name, user_path(comment.user)%></a></i>
				</div>
                

                <% if current_user == comment.user or can? :manage, :all   %>
                <%= link_to ' ', [comment.post, comment], :class=>'comdel', :confirm => 'Are you sure?',:method => :delete %>
                <% end %>

                <% render comment.descendants %>
</div>