
<div class ="repliesbox">

                <n class='postername'>
                <%= link_to comment.user.name, user_path(comment.user)%></n>
                <n class ="plaintext"><%= comment.created_at.strftime("%B %e %l:%M %p %Y")%> No.<%= comment.id %></n>
                
  
                <div class='commented'>
				<div id='textpos'>

                <p class ="row2"><%= comment.content %></p>

                <% if current_user == comment.user or can? :manage, :all   %>
                <%= link_to ' ', [comment.post, comment], :class=>'comdel', :confirm => 'Are you sure?',:method => :delete %>
                <% end %>

                </div>
		<br>

</div>
  </div>
<br>