<style type='text/css'>
#commentr {
background-image:URL('/images/newcomment.png');
width:745px;
height:103px;
margin-bottom:0px;
position:relative;
top:0px;
left:0px;
}

#commentr .comfield{
position:relative;
top:5px;
left:5px;
width:728px;
height:86px;
border-style:solid;
border-width:1px;
border-color:#FFF;
font-size:11px;
color:gray;
}

.share {
background-image:URL('/images/share.png');
width:64px;
height:29px;
border-style:none;
}

.share:hover{
background-image:URL('/images/share_hover.png');
width:64px;
height:29px;
border-style:none;
}

.share:active{
background-image:URL('/images/share_active.png');
width:64px;
height:29px;
border-style:none;
}



</style>

<%= form_for [@post, @post.comments.build], :html => { :multipart => true } do |f| %>
 <div id="bar">
    <%#= f.text_field :alias, :class => 'field', :placeholder=> 'Alias (can be left blank)' %> 
   <!--<%= check_box_tag 'alias_check', 'true' %> Use an Alias?-->
  </div>

    <%= f.file_field :file %>
    <%#= f.text_field :title, :class=>'field', :placeholder=>'Title'%> <%= f.submit 'Submit'%>

  <p id="content">
    <%= f.text_area :content, :class=>'content', :placeholder=>'Post area' %>
  </p>

    <p class ="rules">
    * Feel free to suggest features or improvements.<br/>
    * If you notice any bugs, inform Jon ASAP.</p>
        <hr/>

<% end %>