<style type='text/css'>
	#wrapper {
		background:#FAFCF9;
	}
	#main {
		background:none;
		  		width:995px;
		margin: 0 auto 0 auto;
	}
	#content {
		padding-top:0;
		margin-left:0;
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	/* Actual Post */
	#rightBar { 
		margin-left:20px;
		margin-right:auto;
		padding-top:40px; 
		width:765px; 
		position:relative;
	}	
	#rightBar #post { 
		padding:10px;
		border:3px solid #FDFDFD;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
	}
	#rightBar #post #postTitle {
		font-size:30px; 
		font-weight:500;
		vertical-align:50%;
	}
	#rightBar #post #postContent{
		font-size:16px;
		margin-bottom:20px;
	}
	#rightBar #post img {
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		border-radius:2px;
	}
	#rightBar #post #postInfo {
		height:60px;
		overflow:hidden;
		height:100%;
	}
	#rightBar #post #postInfo p {
		color:#555;
		line-height:18px;
		text-align:left;
		font-size:15px;
	}
	#rightBar #post #postInfo section p img {
		width:13px;
		height:14px;
	}
	#rightBar #post #postInfo section {
		text-align:left;
	}

	#rightBar #comments h2 {
		font-size:24px;
	}
</style>

<%#= render '/layouts/sideBar' %>

<p class="notice"><%= notice %></p>

  
	<div id="comments">
          <% c = @comment %>
          <h2>Viewing comment by <%= c.user.name %></h2>
		
                <b> <%= link_to 'Like', {:action => :vote_up, :id => c.id} , :method=>:post%>: <%= c.points_up  %> / <%= link_to 'Dislike', { :action => :vote_down, :id => c.id }, :method=>:post%>: <%= c.points_down %> </b> 
                <br><i><%= link_to c.user.name, user_path(c.user) %></i>:
                <br>
                <%= c.content %>
                <br>
                <%= c.created_at.strftime("%B %e %l:%M %p %Y")%> (<%=distance_of_time_in_words(c.created_at, Time.now)%> ago)
                <br>
               <%= link_to 'Context', post_path(c.post) %>
                <% if current_user == c.user or can? :manage, :all   %>
                <%= link_to 'Delete Comment', [c.post, c], :confirm => 'Are you sure?',:method => :delete %>
                <% end %>
                <br>


                <br>
               
	</div>

</div>