<style type='text/css'>

#container {
  margin:auto;
  width: 995px; 
  }
  
 #container h {
 float:left;
 font-size:30px;
 font-weight:500;
 }

#head {
font-size:30px;
margin-bottom:-100px;
}

#pic img{
position:relative;
top:150px;
left:0px;
margin-bottom:-50px;
width:183px;
height:185px;
}

#text{
position:relative;
left:220px;
top:8px;
}

#text h1{
font-size:24px;
}

#text h2{
font-size:14px;
}

#text p{
font-size:14px;
}





</style>
<div id='container'>

<div id='head'>
The Team
</div>



<!---------------------------------------------------->
<div id='pic'>
<%=image_tag('/images/team/hinson.png')%>

<div id='text'>
<h1>Francis Hinson</h1>
<h2><i>Co-Founder</i></h2><br>
<p>After moving from England to the US at a young age, Francis began his quest to find things that fascinate him. Casting his<br> net far and wide, Francis immerses himself in anything enticing at the moment. Currently at the Lawrenceville School, <br>Francis has a tendency to build things. Above all, he wants to change the world.
<p>
</div>

</div>



<div id='pic'>
<%=image_tag('/images/team/nayar.png')%>

<div id='text'>
<h1>Nik Nayar</h1>
<h2><i>Co-Founder</i></h2><br>
<p>Along with Francis, Nik developed the idea for Orchive in early 2011 during the peak of the Arab Spring. Nik is always willing to <br>innovate and start something new. He loves debating political issues, exploring new places, and reading existentialist novels <br>that make him think. Though he was born and raised in Pennsylvania and is still a die-hard Eagles fan, Nik is a New Jerseyan <br>by choice and attends The Lawrenceville School near Princeton. 
<p>
</div>


<div id='pic'>
<%=image_tag('/images/team/shatzky.png')%>

<div id='text'>
<h1>Ofry Shatzky</h1>
<h2><i>Co-Founder</i></h2><br>
<p>Ofry met Francis around 2009-2010. After hearing about Orchive, he joined and eventually became one of the founders. <br>He hopes to continue his entrepreneurial endeavors through college. He enjoys discussing entrepreneurship, politics<br> and philosophy. He identifies himself as economically progressive, and socially libertarian.
<p>
</div>


<div id='pic'>
<%=image_tag('/images/team/vasseur.png')%>

<div id='text'>
<h1>Matthew Vasseur</h1>
<h2><i>Development</i></h2><br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non est non elit mollis pharetra. In turpis odio, consectetur <br>vitae placerat sit amet, rutrum ut mauris. Etiam ullamcorper, nisl non lacinia malesuada, nunc dui tristique lacus, quis <br>eleifend mauris augue id risus. Quisque ut leo dui. 
<p>
</div>



<div id='pic'>
<%=image_tag('/images/team/tang.png')%>

<div id='text'>
<h1>Jonathan Tang</h1>
<h2><i>Development</i></h2><br>
<p>Jon first taught himself Python in Freshman year at the suggestion of a friend, and he currently programs in Java, Ruby, and <br>sometimes C as well. He enjoys video game soundtracks, mind-blowing articles, good arguments, interesting puzzles, and <br>Oolong tea.
<p>
</div>

</div>



<div id='pic'>
<%=image_tag('/images/team/dasgupta.png')%>

<div id='text'>
<h1>Sabar Dasgupta</h1>
<h2><i>Development</i></h2><br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non est non elit mollis pharetra. In turpis odio, consectetur <br>vitae placerat sit amet, rutrum ut mauris. Etiam ullamcorper, nisl non lacinia malesuada, nunc dui tristique lacus, quis <br>eleifend mauris augue id risus. Quisque ut leo dui. 
<p>
</div>

</div>



<div id='pic'>
<%=image_tag('/images/team/lee.png')%>

<div id='text'>
<h1>Kevin Lee</h1>
<h2><i>Development</i></h2><br>
<p>Kevin met Francis while both were attending the Lawrenceville School. Through some collaboration, Kevin decided to learn <br>programming and become a developer for Orchive. He also has a newound passion for photography.
<p>
</div>

</div>


<div id='pic'>
<%=image_tag('/images/team/xu.png')%>

<div id='text'>
<h1>Boris Xu</h1>
<h2><i>Development</i></h2><br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non est non elit mollis pharetra. In turpis odio, consectetur <br>vitae placerat sit amet, rutrum ut mauris. Etiam ullamcorper, nisl non lacinia malesuada, nunc dui tristique lacus, quis <br>eleifend mauris augue id risus. Quisque ut leo dui. 
<p>
</div>

</div>


<div id='pic'>
<%=image_tag('/images/team/wei.png')%>

<div id='text'>
<h1>Christopher Wei</h1>
<h2><i>Design</i></h2><br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non est non elit mollis pharetra. In turpis odio, consectetur <br>vitae placerat sit amet, rutrum ut mauris. Etiam ullamcorper, nisl non lacinia malesuada, nunc dui tristique lacus, quis <br>eleifend mauris augue id risus. Quisque ut leo dui. 
<p>
</div>

</div>


<div id='pic'>
<%=image_tag('/images/team/sondern.png')%>

<div id='text'>
<h1>Andrew Sondern</h1>
<h2><i>Design</i></h2><br>
<p>Andrew makes things pretty for Orchive. When he's not doing that, he makes tweetings for Orchive and a Princeton-based <br>humor magazine.
<p>
</div>

</div>


<div id='pic'>
<%=image_tag('/images/team/salgame.png')%>

<div id='text'>
<h1>Aditya Salgame</h1>
<h2><i>Marketing</i></h2><br>
<p>Aditya joined Orchive early on, soon after hearing of the idea from Francis, in the spring of 2011. 
He lived in Westchester, NY,<br> and Bangalore, India before moving to his current residence in Princeton. Though nothing is more pleasing to him than a day<br> well spent procrastinating, he enjoys discussing political economy, playing the guitar, roman numerals, and fitted suits. 
<p>
</div>

</div>



<div id='pic'>
<%=image_tag('/images/team/black.png')%>

<div id='text'>
<h1>Daniel Black</h1>
<h2><i>Marketing</i></h2><br>
<p>Daniel currently resides in Central New Jersey but spent his early childhood in Europe and the Caribbean. He and several of his <br> Orchive co-workers attend Princeton High School. In his spare time, he enjoys studying Andean race relations and emulating <br>Frank Gehry's unique style of architecture. Between firefighter emergency calls, he works on marketing for Orchive.
<br> <br>
Analog Radio: 471.31250<p>
</div>

</div>

<div id='pic'>
<%=image_tag('/images/team/braverman.png')%>

<div id='text'>
<h1>Andrew Braverman</h1>
<h2><i>Marketing</i></h2><br>
<p>Andrew has lived in numerous countires around the globe including Holland, Jordan, and Ukraine.  After moving to Princeton <br>in 8th grade, Andrew met Ofry via a mutual friend, and they hit it off.  He enjoys playing sports and long walks on the beach.
<p>
</div>

</div>





<div id='pic'>
<%=image_tag('/images/team/liu.png')%>

<div id='text'>
<h1>Henry Liu</h1>
<h2><i>Advisor</i></h2><br>
<p>Henry is a 17 year old entrepreneur, developer, and designer. He loves to build things, whether they be web apps, 3d printers,<br> or world-changing startups.
<p>
</div>

</div>
</div>

</div>

</div>
<!---------------------------------------------------->





</div>
</div>  


<!--<div id="bottom">
	<%=image_tag('about_idea.png')%>
	<%=link_to(image_tag('about_people.png', :id=>'people', :onmouseover=>'this.src="/images/about_peopleHover.png"', :onmousedown=>'this.src="/images/about_peopleActive.png"', :onmouseout=>'this.src="/images/about_people.png"'), '/team')%>
	<%=image_tag('about_home.png', :id=>'home')%>-->
