
<%= image_tag(random_lily_url, :class=>"image", :size=>'200x200')%>


                                <br>

                                        <b class ="replytitle"><%=  post.title %></b>
                                        <b class ="postername">
					<% if post.is_anonymous %>
                                        <%= post.alias %>
                                        <% else %>
                                        <%= link_to post.name, user_path(post.user) %>
                                        <% end %>
                                          </b>

                                        <n class ="plaintext"><%=post.created_at.strftime("%B %e %Y %l:%M %p")%>
                                         No.<%= link_to post.id, post_path(post)%> [<%= link_to "Reply", post, :class => 'filesize' %>]</n>


                                        <p class ="row2"><%= filter_comment(post) %></p>

                                        <p class ="postername">Tags:

                                        <% post.tag_list.each do |tag|  %>
						<%= link_to tag.capitalize, { :action => :tag_with,
                                                   :tag => tag, :controller => "preferences"}, :method=>:post, :class=>'blue'%>

                                        <%end%></p> <!-- WHITE SPAAAACE!! -->  <br/><br/><br/><br/><br/><br/><br/>
