<h1><%= I18n.t 'txt.views_posts.edit', :default => 'Edit Post' %></h1>

<h2><%= link_to @post.topic.title, forum_topic_path(@post.forum, @post.topic) %></h2>

<%= link_to(I18n.t('txt.views_posts.delete', :default => 'Delete post'), forum_topic_post_path(@post.forum, @post.topic, @post), 
      :class => "utility", :method => :delete, :confirm => I18n.t('txt.views_posts.delete_sure', :default => 'Delete this post forever?')) %>

<%= form_for [@forum, @topic, @post] do |f| %>
  <%= f.error_messages %>
  <p id="post_body"><%= f.text_area :body %></p>
  <p><%= submit_tag I18n.t('txt.views_posts.save', :default => 'Save post') %>
  <%= I18n.t 'txt.or', :default => 'or' %> 
  <%= link_to I18n.t('txt.cancel', :default => 'cancel'), forum_topic_path(@post.forum, @post.topic, :page => current_page) %></p>
<% end %>