<%= stylesheet_link_tag "chan" %>

<p class="notice"><%= notice %></p>


<div id='rightBar' class='floatLeft'>
	<div id='post'>
		<%= render @post  %>
	</div>
  <hr/>
	
               
		<% @post.comments.each do |comment| %>
                
            <%= render comment  %>
  <hr/>

  <%end%>
		<%= render "comments/form" %>
