<%= stylesheet_link_tag "chan" if mobile_device? %>
<%= stylesheet_link_tag "mobile" if mobile_device? %>

<script language="JavaScript" type="text/JavaScript">

function quote(postId) {

//window.location = "http://www.google.com/";

var textBox = document.getElementById('comment_content');
textBox.value = textBox.value + ">>" + postId+"\n"; 

}

function quotePost() {

var textBox = document.getElementById('comment_content');
textBox.value = textBox.value + ">>OP\n"; 

}

</script>

<p class="notice"><%= notice %></p>


<div id='rightBar' class='floatLeft'>

	<% if (not @post.tag_list.include?("Himitsu")) or params[:himitsu] %>


	<div id='post'>
	
		<%= render @post  %>
	</div>
  <hr/>
	
               
		<% @post.comments.each do |comment| %>
                
            <%= render comment  %>

  <%end%>
		<%= render "comments/form" %>
		
	<% end %>
