<style type='text/css'>
body {
         font-size:12pt;
         background:#FFFFEE;
         color:#800000;
}

a {
        background:inherit;
        color:#0000EE;
        text-decoration:underline;
        font-family:serif;
}
a:visited {
        background:inherit;
        color:#0000EE;
        text-decoration:underline;
        font-family:serif;
}
a:hover {
        color:#DD0000;
        background:inherit;
        text-decoration:underline;
        font-family:serif;
}
.adminbar {
        text-align:right;
        background:inherit;
        clear:both;
        float:right;
}
.logo {
        clear:both;
        text-align:center;
        background:inherit;
        font-size:24pt;
        color:#800000;
        width:100%;
}
.theader {
        background:#0010E0;
        color:#FFFFFF;
        width:100%;
}
.postarea {
        background:inherit;
}
.rules {
        font-size:10px;
        font-family:sans-serif;
}
.postblock {
        background:#EEAA88;
        color:#800000;
        font-weight:800;
}
.footer {
        text-align:center;
        font-size:12px;
        font-family:serif;
}
.passvalid {
	background:#EEAA88;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	background:inherit;
	text-align:center;
}
.delbuttons {
	background:inherit;
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#0F8FE1;
	color:#800000;
	font-family:sans-serif;
	font-size:14px;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#800000;
}
.row1 {
	background:#9AD2F6;
	font-family:sans-serif;
	font-size:12px;
	color:#800000;
}
.row2 {
        background:#FFFFFF;
        font-family:sans-serif;
        font-size:12px;
        color:#800000;
}
.unkfunc {
	background:inert;
	color:#789922;
}
.filesize {
	font-size:16px;
	font-family:serif;
	text-decoration:none;
}
.filetitle {
	background:inherit;
	font-size:18px;
	font-family:serif;
	color:#CC1105;
	font-weight:800;
}
.postername {
	background:inherit;
	font-size:16px;
	font-family:serif;
	color:#117743;
	font-weight:800;}
.oldpost {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#CC1105;
        font-weight:800;
}
.omittedposts {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#070707;
        font-weight:800;
}
.reply {
	background:#F0E0D6;
	color:#800000;
	font-family:serif;
}
.doubledash {
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#CC1105;
        font-weight:800;
}
.commentpostername {
        background:inherit;
        font-size:16px;
        font-family:serif;
        color:#117743;
	font-weight:800;
}
.thumbnailmsg {
	background:inherit;
	font-size:9px;
	font-family:sans-serif;
	color:#800000;
}
	
</style>

<p class="notice"><%= notice %></p>

<div id='rightBar' class='floatRight'>
	<div id='post'>
		<%= image_tag('default_photo.png', :size=>'60x60')%>
                <p class ="replytitle"><%= @post.title %></p>

		<p id="postContent"><%= @post.content %></p>
                
               <section class="floatRight">
                           
                                
                                <% if can? :manage, :all   %>
                                                               <p id="voteAccurate">
				<%=image_tag('NFIcons/time.png') %> 
                                  <b><a class="blue"><%= link_to 'Accurate', { :action => :vote_up, :id => @post.id }, :method=>:post#, :remote => true
                                      %></a></b>
				</p>     	      
                                <p id="voteInaccurate">
					<%=image_tag('NFIcons/time.png') %> 
                                  <b><a class="blue"><%= link_to 'Inaccurate', { :action => :vote_down, :id => @post.id }, :method=>:post#, :remote => true
                                    %></a></b>
				</p> 

				
				<%= link_to_if(can?(:delete, @post), 'Delete', post_path(@post), :id=>'delete', :class=>'floatRight', :confirm => "Are you sure?", :method => :delete) {} %>
                                 <% end %>
                                
                </section>                

		<section id="postInfo">
			<section class="floatLeft">
				<p id="postName">
                                        <% if @post.is_anonymous %>
                                       
                                        <a class="postername"><%= @post.alias %></a>
                                        <% else %>
                                        
					<a class="postername"><%= link_to @post.name, user_path(@post.user) %></a>
                                        <% end %>

				</p>

				<p id="source">
					Source: <a class='blue'> <%= @post.source  %>  </a>
				</p>                   
                                
				<p id="trendingValue">
					Trending Value: <a class="blue"><%= @post.trending_value.round %></a>
				</p>	 
                                
                		<p id="pageViews">
					Pageviews: <a class="blue"><%= @post.pageviews %></a>
				</p>	    
                                                  

			</section>
				<p id="tags">
					Tags: <a class="blue"><%= @post.tag_list  %> </a>
				</p>  

				<p id="time">
					Date Created: <a class='blue'>
					<%=@post.created_at.strftime("%B %e %l:%M %p %Y")%>
					(<%=distance_of_time_in_words(@post.created_at,	Time.now)%> ago)
					</a>
				</p>

		</section>
	</div>



  
  <br><br>
  
	
                <% @comments = @comments.page(params[:page]).per(5)%>
               
		<% @comments.each do |comment| %>
                
            <div id="comment"> <!-- render comment -->
           <% if can? :manage, :all   %>

                <b> <%= link_to 'Like', { :action => :vote_up, :id => comment.id, :controller => "comments" }, :method=>:post%>: <%= comment.points_up  %> / <%= link_to 'Dislike', { :action => :vote_down, :id => comment.id, :controller => "comments" }, :method=>:post%>: <%= comment.points_down %> </b>
                <% end %>
                
                <div class='commented'>
				<div id='textpos'>
                <br>
                <%= comment.content %>
                <br>
				<div id='timify'>
                <%= comment.created_at.strftime("%B %e %l:%M %p %Y")%> (<%=distance_of_time_in_words(comment.created_at, Time.now)%> ago)
				</div>
                <br>
				<div class='smallify'>
				Author: <i> <a class="blue"><%#= link_to comment.user.name, user_path(comment.user)%></a></i>
				</div>
                

                <% if current_user == comment.user or can? :manage, :all   %>
                <%= link_to ' ', [comment.post, comment], :class=>'comdel', :confirm => 'Are you sure?',:method => :delete %>
                <% end %>

                </div>


                <%= link_to 'Reply', comment_path(comment) %>
                <%= link_to 'Permalink', comment_path(comment) %>
                
				<br><br>

                <% end %>
		<%= render "comments/form" %>
